.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form button {
    cursor: pointer;
    font: inherit;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    padding: 0.25rem 2rem;
    margin: 1rem 0.5rem;
}

.form input {
    width: 65%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    height: 25px;
    padding-left: 0.5rem;
    color: black;
    caret-color: black;
}

.form input[type="text"] {
    color: black;
}

.form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.invalid {
    color: #ec445a;
}

@media only screen and (max-width: 600px) {
    .form {
        width: 100%;
    }
}
